/*
.grad {
    background: #BBFB87;
    background: -webkit-linear-gradient(#4d840d, #BBFB87);
    background: -o-linear-gradient(#4d840d, #BBFB87);
    background: -moz-linear-gradient(#4d840d, #BBFB87);
    background: linear-gradient(#4d840d, #BBFB87);
}
*/
body {
    background: #2e2e2e url('/static/images/background.png') repeat;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
.hide {
    display: none;
}
* {
    font-family: Arimo, sans-serif;
}
p {
    font-size: 110%;
}
li {
    font-size: 110%;
}
th {
    text-align: center;
}
table {
    max-width: none;
    table-layout: fixed;
}
.info-link {
    color: #999999
}
.info-link:hover {
    color: #c5c5c5
}
.info-list ul li {
    margin-bottom: 10px;
}
.manager-link {
    color: white;
}
.manager-link:hover {
    color: #c4dfe6;
    text-decoration: none;
}
.manager-link:active {
    color: white;
    text-decoration: none;
}
.manager-link:focus {
    color: white;
    text-decoration: none;
}
.league-link {
    color: white;
}
.league-link:hover {
    color: #ffb9a6;
    text-decoration: none;
}
.league-link:active {
    color: white;
    text-decoration: none;
}
.league-link:focus {
    color: white;
    text-decoration: none;
}
.btn-manager {
    background-color: #5085a0;
}
.btn-manager:hover {
    color: #b3d1df;
}
.btn-league {
    background-color: #B24528;
}
.btn-league:hover {
    color: #ffb9a6;
}
.manager-headers tr td {
    width: 16.5%;
}
.league-headers tr td {
    width: 11.1%;
}
.top-manager-display tr td {
    border-color: #5085a0 !important;
    vertical-align: middle;
}
.top-league-display tr td {
    border-color: #d4674a !important;
    vertical-align: middle;
}
.main-manager-display thead tr th, .main-manager-display tbody tr td {
    padding: 4px;
    border-color: #5085a0;
}

.main-league-display thead tr th, .main-league-display tbody tr td {
    padding: 4px;
    border-color: #d4674a;
}
.main-manager-display thead tr th {
    color: lightgrey;
    background-color: #003854;
}
.main-manager-display tbody tr td {
    color: white;
    background-color: #1A526E;
    border-left: solid #003854 1px;
    border-right: solid #003854 1px;
}
.main-manager-display tbody tr:hover td {
    background-color: #336B87;
}
.main-league-display thead tr th {
    color: lightgrey;
    background-color: #430e00;
}
.main-league-display tbody tr td {
    color: white;
    background-color: #6c1700;
    border-left: solid #430e00 1px;
    border-right: solid #430e00 1px;
}
.main-league-display tbody tr:hover td {
    background-color: #922a0e;
}
table thead th {
    vertical-align: middle;
}
.general table thead tr th, .general table tbody tr td {
    width: 7.14%;
    vertical-align: middle;
}
.positions table thead tr th, .positions table tbody tr td {
    width: 8.33%;
    vertical-align: middle;
}
.team-selection table thead tr th, .team-selection table tbody tr td {
    width: 7.69%;
    vertical-align: middle;
}
.squad-one thead tr th, .squad-one tbody tr td {
    width: 14.28%;
    vertical-align: middle;
}
.squad-two thead tr th, .squad-two tbody tr td {
    width: 50%;
    vertical-align: middle;
}
.modal-table thead tr th, .modal-table tbody tr td {
    padding: 6px;
    width: 33%;
}