<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>League Statistics: {{ league_name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="icon" href="{% static 'images/favicon.png' %}"/>
</head>

<body style="background-color: #c4dfe6">
    <div class="container-fluid grad">
        <div class="row">
            <a href={% url 'index' %}><img src="{% static 'images/header.png' %}" alt="header_img" class="img-responsive"/></a>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12" style="background-color: #773734; border-bottom: solid #5D1D1A 1px">
                    <br>
                    <div class="col-md-4">
                        <h1 style="margin-top: auto"><a href="https://fantasy.premierleague.com/a/leagues/standings/{{ league_id }}/classic" class="league-link"><b><i>{{ league_name }}</i></b></a></h1>
                        <br>
                        <p style="font-size: 85%; color: lightgray">Click <a data-toggle="modal" href="#headerModal" style="color: white">here</a> for an explanation of each category.</p>
                        <div class="modal fade" id="headerModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content" style="background-color: #fbc2b2">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title" style="text-align: center; color: #491a0d">League Statistics</h3>
                                    </div>
                                    <div class="modal-body" style="color: #491a0d">
                                        <h4>Leader</h4>
                                        <ul><li>League leader's name and their total points.</li></ul>
                                        <h4>Most Goals</h4>
                                        <ul><li>Name of the manager with the most goals and how many goals they have.</li></ul>
                                        <h4>Most Clean Sheets</h4>
                                        <ul><li>Name of the manager with the most clean sheets in defense and how many clean sheets they have.</li></ul>
                                        <h4>Best Captains</h4>
                                        <ul><li>Name of the manager with the highest amount of points gained from Captains and how many points they have from Captains.</li></ul>
                                        <h4>Highest Team Value</h4>
                                        <ul><li>Name of the manager with the highest team value as of the latest gameweek deadline and the value of their team (including money in the bank) as of the latest gameweek deadline.</li></ul>
                                        <h4>Most Unique Players</h4>
                                        <ul><li>Name of the manager who has had the most amount of different players in their squad and how many different players they have had in their squad.</li></ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal" style="background-color: #fbc2b2; color: #491a0d">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8" style="color: white; text-align: center">
                        <table class="table-condensed" style="margin: auto; font-size: 150%">
                            <tr>
                                <td>Leader:</td>
                                <td style="color: #fbc2b2">{{ headers.0 }}</td>
                                <td style="color: #fbc2b2">{{ headers.1 }}</td>
                                <td style="border-left: solid #a95f4c 1px">Most Goals:</td>
                                <td style="color: #fbc2b2">{{ headers.2 }}</td>
                                <td style="color: #fbc2b2; border-right: solid #a95f4c 1px">{{ headers.3 }}</td>
                                <td>Most Clean Sheets:</td>
                                <td style="color: #fbc2b2">{{ headers.4 }}</td>
                                <td style="color: #fbc2b2">{{ headers.5 }}</td>
                            </tr>
                            <tr>
                                <td>Best Captains:</td>
                                <td style="color: #fbc2b2">{{ headers.6 }}</td>
                                <td style="color: #fbc2b2">{{ headers.7 }}</td>
                                <td style="border-left: solid #a95f4c 1px">Highest Team Value:</td>
                                <td style="color: #fbc2b2">{{ headers.8 }}</td>
                                <td style="color: #fbc2b2; border-right: solid #a95f4c 1px">{{ headers.9 }}</td>
                                <td>Most Unique Players:</td>
                                <td style="color: #fbc2b2">{{ headers.10 }}</td>
                                <td style="color: #fbc2b2">{{ headers.11 }}</td>
                            </tr>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12" style="background-color: #773734">
                    <br><br>
                    <div class="col-md-3">
                        <br>
                        <form>
                            <select class="form-control" title="Analysis View" data-target=".table-view">
                                <option data-show=".general">General Statistics</option>
                                <option data-show=".positions">Positions</option>
                                <option data-show=".team-selection">Team Selection</option>
                            </select>
                        </form>
                        <br>
                    </div>

                    <div class="table-view">
                        <div class="general hide">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <br>
                                    <div id="general-number-total" style="display: block">
                                        <label for="summary" style="color: white">Top in Each Category:</label>
                                        <table class="table-bordered top-league-display" style="width: 100%; color: white; text-align: center; font-size: 120%">
                                            <tr style="vertical-align: bottom">
                                                <td style="border-bottom: none">Minutes</td>
                                                <td style="border-bottom: none">Goals</td>
                                                <td style="border-bottom: none">Assists</td>
                                                <td style="border-bottom: none">Clean Sheets</td>
                                                <td style="border-bottom: none">Saves</td>
                                                <td style="border-bottom: none">Goals Conceded</td>
                                            </tr>
                                            <tr style="color: #fbc2b2; vertical-align: top">
                                                {% for item in general_number_max|slice:"0:6" %}
                                                    <td style="border-top: none; border-bottom: none">{{ item.1 }}</td>
                                                {% endfor %}
                                            </tr>
                                            <tr style="color: #fbc2b2; vertical-align: top">
                                                {% for item in general_number_max|slice:"0:6" %}
                                                    <td style="border-top: none">{{ item.0 }}</td>
                                                {% endfor %}
                                            </tr>
                                            <tr style="vertical-align: bottom">
                                                <td style="border-bottom: none">Penalties Saved</td>
                                                <td style="border-bottom: none">Yellow Cards</td>
                                                <td style="border-bottom: none">Red Cards</td>
                                                <td style="border-bottom: none">Penalties Missed</td>
                                                <td style="border-bottom: none">Own Goals</td>
                                                <td style="border-bottom: none">Bonus Points</td>
                                            </tr>
                                            <tr style="color: #fbc2b2; vertical-align: top">
                                                {% for item in general_number_max|slice:"6:12" %}
                                                    <td style="border-top: none; border-bottom: none">{{ item.1 }}</td>
                                                {% endfor %}
                                            </tr>
                                            <tr style="color: #fbc2b2; vertical-align: top">
                                                {% for item in general_number_max|slice:"6:12" %}
                                                    <td style="border-top: none">{{ item.0 }}</td>
                                                {% endfor %}
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="general-points-total" style="display: none">
                                        <label for="summary" style="color: white">Top in Each Category:</label>
                                        <table class="table-bordered top-league-display" style="width: 100%; color: white; text-align: center; font-size: 120%">
                                            <tr style="vertical-align: bottom">
                                                <td style="border-bottom: none">Minutes</td>
                                                <td style="border-bottom: none">Goals</td>
                                                <td style="border-bottom: none">Assists</td>
                                                <td style="border-bottom: none">Clean Sheets</td>
                                                <td style="border-bottom: none">Saves</td>
                                                <td style="border-bottom: none">Goals Conceded</td>
                                            </tr>
                                            <tr style="color: #fbc2b2; vertical-align: top">
                                                {% for item in general_points_max|slice:"0:6" %}
                                                    <td style="border-top: none; border-bottom: none">{{ item.1 }}</td>
                                                {% endfor %}
                                            </tr>
                                            <tr style="color: #fbc2b2; vertical-align: top">
                                                {% for item in general_points_max|slice:"0:6" %}
                                                    <td style="border-top: none">{{ item.0 }}</td>
                                                {% endfor %}
                                            </tr>
                                            <tr style="vertical-align: bottom">
                                                <td style="border-bottom: none">Penalties Saved</td>
                                                <td style="border-bottom: none">Yellow Cards</td>
                                                <td style="border-bottom: none">Red Cards</td>
                                                <td style="border-bottom: none">Penalties Missed</td>
                                                <td style="border-bottom: none">Own Goals</td>
                                                <td style="border-bottom: none">Bonus Points</td>
                                            </tr>
                                            <tr style="color: #fbc2b2; vertical-align: top">
                                                {% for item in general_points_max|slice:"6:12" %}
                                                    <td style="border-top: none; border-bottom: none">{{ item.1 }}</td>
                                                {% endfor %}
                                            </tr>
                                            <tr style="color: #fbc2b2; vertical-align: top">
                                                {% for item in general_points_max|slice:"6:12" %}
                                                    <td style="border-top: none">{{ item.0 }}</td>
                                                {% endfor %}
                                            </tr>
                                        </table>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="positions hide">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <br>
                                    <label for="summary" style="color: white">Top in Each Category:</label>
                                    <table class="table-bordered top-league-display" style="width: 100%; color: white; text-align: center; font-size: 120%">
                                        <tr style="vertical-align: bottom">
                                            <td style="border-bottom: none">Total Budget</td>
                                            <td style="border-bottom: none">GK Points</td>
                                            <td style="border-bottom: none">GK Budget</td>
                                            <td style="border-bottom: none">DEF Points</td>
                                            <td style="border-bottom: none">DEF Budget</td>
                                        </tr>
                                            <tr style="color: #fbc2b2">
                                            {% for item in positions_max|slice:"0:5" %}
                                                <td style="border-top: none; border-bottom: none">{{ item.1 }}</td>
                                            {% endfor %}
                                            </tr>
                                            <tr style="color: #fbc2b2; vertical-align: top">
                                                {% for item in positions_max|slice:"0:5" %}
                                                    <td style="border-top: none">{{ item.0 }}</td>
                                                {% endfor %}
                                            </tr>
                                        <tr>
                                            <td style="border-bottom: none">MID Points</td>
                                            <td style="border-bottom: none">MID Budget</td>
                                            <td style="border-bottom: none">FWD Points</td>
                                            <td style="border-bottom: none">FWD Budget</td>
                                            <td style="border-bottom: none">Bench Budget</td>
                                        </tr>
                                        <tr style="color: #fbc2b2">
                                            {% for item in positions_max|slice:"5:10" %}
                                                <td style="border-top: none; border-bottom: none">{{ item.1 }}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr style="color: #fbc2b2; vertical-align: top">
                                            {% for item in positions_max|slice:"5:10" %}
                                                <td style="border-top: none">{{ item.0 }}</td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="team-selection hide">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <br>
                                    <label for="summary" style="color: white">Top in Each Category:</label>
                                    <table class="table-bordered top-league-display" style="width: 100%; color: white; text-align: center; font-size: 120%">
                                        <tr style="vertical-align: bottom">
                                            <td style="border-bottom: none">Transfer<br />Cost</td>
                                            <td style="border-bottom: none">Captain<br />Points</td>
                                            <td style="border-bottom: none">MVP<br />Points</td>
                                            <td style="border-bottom: none">Captain Points<br />Lost</td>
                                            <td style="border-bottom: none">Bench Points<br />Lost</td>
                                            <td style="border-bottom: none">Max Possible<br />Points</td>
                                            <td style="border-bottom: none">Potential<br />Lost</td>
                                        </tr>
                                        <tr style="color: #fbc2b2; vertical-align: top">
                                            {% for item in team_selection_max %}
                                                <td style="border-top: none; border-bottom: none">{{ item.1 }}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr style="color: #fbc2b2; vertical-align: top">
                                            {% for item in team_selection_max %}
                                                <td style="border-top: none">{{ item.0 }}</td>
                                            {% endfor %}
                                    </table>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 table-view">
                        <div class="general hide">
                            <div id="buttons" class="btn-group" data-toggle="buttons" style="color: lightgray">
                                <p style="font-size: 85%; color: lightgray">Click <a data-toggle="modal" href="#generalModal" style="color: white">here</a> for an explanation of each column.</p>
                                <div class="modal fade" id="generalModal" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content" style="background-color: #fbc2b2">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h3 class="modal-title" style="text-align: center; color: #491a0d">General Statistics</h3>
                                            </div>
                                            <div class="modal-body" style="color: #491a0d">
                                                <h4>Number/Points</h4>
                                                <ul><li>Use these buttons to toggle between Number View and Points View. Number View shows you how many of each category has been scored while Points View shows you how many points have been gained or lost in each category.</li></ul>
                                                <h4>Manager</h4>
                                                <ul><li>The Manager's name.</li></ul>
                                                <h4>Base Points</h4>
                                                <ul><li>Total points before the Captain multiplier is applied or deductions for transfers are made.</li></ul>
                                                <h4>Minutes</h4>
                                                <ul><li>Total amount of minutes played by all players or points gained from minutes played.</li></ul>
                                                <h4>Goals</h4>
                                                <ul><li>Total goals scored by all players or total points gained from goals.</li></ul>
                                                <h4>Assists</h4>
                                                <ul><li>Total assists made by all players or total points gained from assists.</li></ul>
                                                <h4>Clean Sheets</h4>
                                                <ul><li>For Number View, shows the number of clean sheets kept by the Goalkeeper and Defenders.<br />For Points View, shows the points obtained from clean sheets kept by the Goalkeeper, Defenders <i>and</i> Midfielders.</li></ul>
                                                <h4>Saves</h4>
                                                <ul><li>Total saves made by all players or total points gained from saves.</li></ul>
                                                <h4>Goals Conceded</h4>
                                                <ul><li>Total goals conceded by the Goalkeeper and Defenders or total points lost from goals conceded.</li></ul>
                                                <h4>Penalties Saved</h4>
                                                <ul><li>Total penalties saved by all players or total points gained from penalties saved.</li></ul>
                                                <h4>Yellow Cards</h4>
                                                <ul><li>Total yellow cards received by all players or total points lost from yellow cards.</li></ul>
                                                <h4>Red Cards</h4>
                                                <ul><li>Total red cards received by all players or total points lost from red cards.</li></ul>
                                                <h4>Penalties Missed</h4>
                                                <ul><li>Total penalties missed by all players or total points lost from penalties missed.</li></ul>
                                                <h4>Own Goals</h4>
                                                <ul><li>Total own goals scored by all players or total points lost from own goals.</li></ul>
                                                <h4>Bonus Points</h4>
                                                <ul><li>Total Bonus Points awarded to all players.</li></ul>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn" data-dismiss="modal" style="background-color: #fbc2b2; color: #491a0d">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label for="points-btn" class="btn btn-league active" onClick="toggleToNumber()"><b>Number</b>
                                    <input type="radio" id="number-btn">
                                </label>
                                <label for="points-btn" class="btn btn-league" onClick="toggleToPoints()"><b>Points</b>
                                    <input type="radio" id="points-btn">
                                </label>

                                <div id="general-number" class="general overflow-display" style="display: block">
                                    <table class="league-general table-hover main-league-display" style="text-align: center; width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Manager</th>
                                                <th>Base<br />Points</th>
                                                <th>Minutes</th>
                                                <th>Goals</th>
                                                <th>Assists</th>
                                                <th>Clean<br />Sheets</th>
                                                <th>Saves</th>
                                                <th>Goals<br />Conceded</th>
                                                <th>Penalties<br />Saved</th>
                                                <th>Yellow<br />Cards</th>
                                                <th>Red<br />Cards</th>
                                                <th>Penalties<br />Missed</th>
                                                <th>Own<br />Goals</th>
                                                <th>Bonus<br />Points</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for manager in general_number %}
                                            <tr>
                                                <td><a href="{% url 'manager:detail' manager.0%}" class="league-link">{{ manager.1 }}</a></td>
                                                {% for item in manager|slice:"2:15" %}
                                                    <td>{{ item }}</td>
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                                </div>

                                <div id="general-points" class="general overflow-display" style="display: none">
                                    <table class="league-general table-hover main-league-display" style="text-align: center; width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Manager</th>
                                                <th>Base<br />Points</th>
                                                <th>Minutes</th>
                                                <th>Goals</th>
                                                <th>Assists</th>
                                                <th>Clean<br />Sheets</th>
                                                <th>Saves</th>
                                                <th>Goals<br />Conceded</th>
                                                <th>Penalties<br />Saved</th>
                                                <th>Yellow<br />Cards</th>
                                                <th>Red<br />Cards</th>
                                                <th>Penalties<br />Missed</th>
                                                <th>Own<br />Goals</th>
                                                <th>Bonus<br />Points</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for manager in general_points %}
                                            <tr>
                                                <td><a href="{% url 'manager:detail' manager.0%}" class="league-link">{{ manager.1 }}</a></td>
                                                {% for item in manager|slice:"2:15" %}
                                                    <td>{{ item }}</td>
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="positions hide overflow-display">
                            <p style="font-size: 85%; color: lightgray">Click <a data-toggle="modal" href="#positionModal" style="color: white">here</a> for an explanation of each column.</p>
                            <div class="modal fade" id="positionModal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="background-color: #fbc2b2">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h3 class="modal-title" style="text-align: center; color: #491a0d">Positions</h3>
                                        </div>
                                        <div class="modal-body" style="color: #491a0d">
                                            <h4>Manager</h4>
                                            <ul><li>The Manager's name.</li></ul>
                                            <h4>Preferred Formation</h4>
                                            <ul><li>The formation used most often by the manager.</li></ul>
                                            <h4>Total Budget</h4>
                                            <ul><li>Total team value, including money in the bank, as at the latest gameweek deadline.</li></ul>
                                            <h4>Points from GK</h4>
                                            <ul><li>Total points obtained from the Goalkeeper.</li></ul>
                                            <h4>Average GK Budget</h4>
                                            <ul><li>Average amount of money the starting goalkeeper is worth.</li></ul>
                                            <h4>Points from DEF</h4>
                                            <ul><li>Total points obtained from the Defenders.</li></ul>
                                            <h4>Average DEF Budget</h4>
                                            <ul><li>Average amount of money the starting defenders are worth.</li></ul>
                                            <h4>Points from MID</h4>
                                            <ul><li>Total points obtained from the Midfielders.</li></ul>
                                            <h4>Average MID Budget</h4>
                                            <ul><li>Average amount of money the starting midfielders are worth.</li></ul>
                                            <h4>Points from FWD</h4>
                                            <ul><li>Total points obtained from the Forwards.</li></ul>
                                            <h4>Average FWD Budget</h4>
                                            <ul><li>Average amount of money the starting forwards are worth.</li></ul>
                                            <h4>Average Bench Budget</h4>
                                            <ul><li>Average amount of money all of the players on the bench are worth.</li></ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal" style="background-color: #fbc2b2; color: #491a0d">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="" class="league-positions table-hover main-league-display" style="text-align: center; width: 100%">
                                <thead>
                                    <tr>
                                        <th>Manager</th>
                                        <th>Preferred<br />Formation</th>
                                        <th>Total<br />Budget</th>
                                        <th>Points<br />From GK</th>
                                        <th>Avg GK<br />Budget</th>
                                        <th>Points<br />From DEF</th>
                                        <th>Avg DEF<br />Budget</th>
                                        <th>Points<br />From MID</th>
                                        <th>Avg MID<br />Budget</th>
                                        <th>Points<br />From FWD</th>
                                        <th>Avg FWD<br />Budget</th>
                                        <th>Avg Bench<br />Budget</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for manager in positions %}
                                        <tr>
                                            <td><a href="{% url 'manager:detail' manager.0%}" class="league-link">{{ manager.1 }}</a></td>
                                            {% for item in manager|slice:"2:13" %}
                                                <td>{{ item }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                        </div>
                        <div class="team-selection hide overflow-display">
                            <p style="font-size: 85%; color: lightgray">Click <a data-toggle="modal" href="#teamModal" style="color: white">here</a> for an explanation of each column.</p>
                            <div class="modal fade" id="teamModal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="background-color: #fbc2b2">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h3 class="modal-title" style="text-align: center; color: #491a0d">Team Selection</h3>
                                        </div>
                                        <div class="modal-body" style="color: #491a0d">
                                            <h4>Manager</h4>
                                            <ul><li>The Manager's name.</li></ul>
                                            <h4>Transfer Cost</h4>
                                            <ul><li>The amount of points spent on transfers.</li></ul>
                                            <h4>Preferred Captain</h4>
                                            <ul><li>The player who was chosen as Captain the most often. If the Vice Captain played and the Captain didn't play (or has yet to play in the current week), the Vice Captain is counted instead.</li></ul>
                                            <h4>Captain Points</h4>
                                            <ul><li>How many points have been acquired from Captains over the season.</li></ul>
                                            <h4>Season MVP</h4>
                                            <ul><li>The player who has scored the most points for the team, including points gained as Captain.</li></ul>
                                            <h4>MVP Points</h4>
                                            <ul><li>How many points the Season MVP has scored.</li></ul>
                                            <h4>Captain Points Lost</h4>
                                            <ul><li>How many points in total the team lost due to not selecting the highest scoring player as Captain each week.</li></ul>
                                            <h4>Points on Bench</h4>
                                            <ul><li>Total number of points scored by the players on the bench.</li></ul>
                                            <h4>Bench Points Lost</h4>
                                            <ul><li>Total points lost by not selecting the optimal starting eleven each week.</li></ul>
                                            <h4>Points</h4>
                                            <ul><li>Total points scored, including the Captain multiplier and deductions for transfers.</li></ul>
                                            <h4>Maximum Points</h4>
                                            <ul><li>The maximum amount of points that could have been obtained by choosing the optimal Captain and starting eleven every week.</li></ul>
                                            <h4>Potential Lost</h4>
                                            <ul><li>Total points lost by not choosing the optimal Captain and starting eleven every week.</li></ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal" style="background-color: #fbc2b2; color: #491a0d">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="" class="league-team table-hover main-league-display" style="text-align: center; width: 100%">
                                <thead>
                                    <tr>
                                        <th>Manager</th>
                                        <th>Transfer<br />Cost</th>
                                        <th>Preferred<br />Captain</th>
                                        <th>Captain<br />Points</th>
                                        <th>Season<br />MVP</th>
                                        <th>MVP<br />Points</th>
                                        <th>Captain<br />Points Lost</th>
                                        <th>Points<br />on Bench</th>
                                        <th>Bench<br />Points Lost</th>
                                        <th>Points</th>
                                        <th>Max<br />Points</th>
                                        <th>Potential<br />Lost</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for manager in team_selection %}
                                        <tr>
                                            <td><a href="{% url 'manager:detail' manager.0%}" class="league-link">{{ manager.1 }}</a></td>
                                            {% for item in manager|slice:"2:13" %}
                                                <td>{{ item }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</body>
</html>