<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>FPL: My Stats | Every element of your FPL season broken down</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="lcs6aSfGYa_m529Ez6DsYXr7yYReg0L4J4zx5EaoMFI" />
    <meta name="description" content="View the stats that make up your season, from goals and assists, to Captains, benches, transfers and more">
    <meta name="keywords" content="Fantasy Football, Fantasy Premier League, FPL, Football, Stats, Analysis">
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="icon" href="{% static 'images/favicon.png' %}"/>
</head>

<body style="background-color: #c4dfe6">
    <div class="container-fluid">
        <div class="row">
            <a href={% url 'index' %}><img src="{% static 'images/header.png' %}" alt="header_img" class="img-responsive"></a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12" style="background-color: #336B87">
                    <h1 style="text-align: center; color: white"><b>Manager Stats</b></h1>
                    <form action="{% url 'manager:search' %}" method="post">
                        {% csrf_token %}
                        <div class="input">
                            <br>
                            <!--<p style="text-align: center; color: lightgray"><u>Search disabled until the new season starts</u></p>-->
                            <input  class="form-control input-lg" name="manager_id" id="inputlg" type="number" placeholder="Manager ID" onfocus="placeholder=''" onblur="placeholder = 'Manager ID'" style="text-align: center">
                            <br>
                        </div>
                    </form>
                    {% if manager_error %}
                        <div id="manager-err-msg" class="col-md-12" style="color: #1c4d66; background-color: #c4dfe6; border: solid 2px red; border-radius: 10px">
                            <p></p>
                            <div class="col-md-4">
                                <p><span class="glyphicon glyphicon-exclamation-sign pull-left" style="font-size: 150%"></span></p>
                            </div>
                            <div class="col-md-4">
                                <p style="font-size: 150%; text-align: center">An Error Occurred</p>
                            </div>
                            <div class="col-md-4">
                                <p><span class="glyphicon glyphicon-exclamation-sign pull-right" style="font-size: 150%"></span></p>
                                <p style="color: #c4dfe6">|</p>
                            </div>
                            <p style="text-align: center">The Fantasy Premier League website may be updating or else there is no existing Manager corresponding to the ID you entered.</p>
                        </div>
                    {% endif %}
                    <div style="color: white">
                        <br>
                        <p>Enter a manager's ID number to view in-depth statistics relating to their team including:</p>
                        <ul>
                            <li>How many goals, assists, clean sheets, bonus points etc. have been obtained in the season</li>
                            <li>How many points have been obtained from each position.</li>
                            <li>Their favourite choice for captain</li>
                            <li>Which players have featured in the team the most often</li>
                            <li>Which players have earned the team the most points</li>
                            <li>How much money is spent on each position</li>
                        </ul>
                        <br><br>
                        <p>To find out a manager's ID, click on <u>'View Gameweek history'</u> and see the ID in the URL</p>
                        <img src="{% static 'images/sample_manager_id.png' %}" alt="sample_manager_ID" class="img-responsive">
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12" style="background-color: #773734">
                    <h1 style="text-align: center; color: white"><b>League Stats</b></h1>
                    <form action="{% url 'league:search' %}" method="post">
                        {% csrf_token %}
                        <div class="input">
                            <br>
                            <!--<p style="text-align: center; color: lightgray"><u>Search disabled until the new season starts</u></p>-->
                            <input class="form-control input-lg" name="league_id" id="inputlg" type="number" placeholder="League ID" onfocus="placeholder=''" onblur="placeholder = 'League ID'" style="text-align: center">
                            <br>
                        </div>
                    </form>
                    {% if league_error %}
                        <div id="league-err-msg" class="col-md-12" style="color: #491a0d; background-color: #fbc2b2; border: solid 2px red; border-radius: 10px">
                            <p></p>
                            <div class="col-md-4">
                                <p><span class="glyphicon glyphicon-exclamation-sign pull-left" style="font-size: 150%"></span></p>
                            </div>
                            <div class="col-md-4">
                                <p style="font-size: 150%; text-align: center">An Error Occurred</p>
                            </div>
                            <div class="col-md-4">
                                <p><span class="glyphicon glyphicon-exclamation-sign pull-right" style="font-size: 150%"></span></p>
                                <p style="color: #fbc2b2">|</p>
                            </div>
                            <p style="text-align: center">The Fantasy Premier League website may be updating or else there is no existing League corresponding to the ID you entered.</p>
                        </div>
                    {% endif %}
                    <div style="color: white">
                        <br>
                        <p>Enter a league's ID number to view stats relating to the top 50 players in the league including:</p>
                        <ul>
                            <li>Who has the most goals, assists, clean sheets, bonus points etc.</li>
                            <li>Who has the highest scoring defense, midfield etc.</li>
                            <li>Who is the best at picking their captain</li>
                            <li>Who is each team's MVP</li>
                            <li>Who leaves the most points on the bench</li>
                            <li>The favourite formation of each member</li>
                        </ul>
                        <br><br>
                        <p>To find out a league's ID, click on the league and see the ID in the URL</p>
                        <img src="{% static 'images/sample_league_id.png' %}" alt="sample_league_ID" class="img-responsive">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="color: #1c4d66; border: solid #1c4d66 1px; border-radius: 20px">
            <p></p>
            <h4 style="text-align: center">Tips</h4>
            <ol>
                <li>Click the banner at the top of the screen to return to the home screen</li>
                <li>Every column in the main tables can be sorted to quickly find the highest/lowest values</li>
                <li>Click on the Manager or League name in the top left corner of each view to go to that manager's team or that league's page on the main FPL website</li>
                <li>When looking at a League, you can click on a Manager's name in any of the the main tables to go to the Manager View for that person</li>
                <li>Bookmark the search result so you don't need to re-enter your Manager or League ID in future. You can also share the link with your friends so that they can bypass the search and be brought straight to the results page</li>
            </ol>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <p style="color: #c4dfe6">`</p>
</body>
</html>