{% extends 'base.html' %}

{% load staticfiles %}

<body class="home">
    {% block content %}
        <div class="container-fluid">
            <div class="row">
                <br>
                <div class="col-md-6">
                    <div class="col-md-12" style="background-color: #336B87">
                        <br>
                        <h1 style="text-align: center; color: white"><b>Manager Stats</b></h1>
                        <br>
                        <form action="{% url 'manager:search' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <!--<p style="text-align: center; color: lightgray"><u>Search disabled until the new season starts</u></p>-->
                                <div class="input-group manager-search">
                                    <input class="form-control input-lg" name="manager_id" placeholder="Manager ID" onfocus="placeholder=''" onblur="placeholder = 'Manager ID'"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-lg btn-success">
                                            <i class="glyphicon glyphicon-search"></i> Go
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        {% if manager_error %}
                            <div id="manager-err-msg" class="col-md-12" style="color: #1c4d66; background-color: #c4dfe6; border: solid 2px red; border-radius: 10px">
                                <p></p>
                                <div class="col-md-4">
                                    <p><span class="glyphicon glyphicon-exclamation-sign pull-left" style="font-size: 150%"></span></p>
                                </div>
                                <div class="col-md-4">
                                    <p style="font-size: 150%; text-align: center">An Error Occurred</p>
                                </div>
                                <div class="col-md-4">
                                    <p><span class="glyphicon glyphicon-exclamation-sign pull-right" style="font-size: 150%"></span></p>
                                    <p style="color: #c4dfe6">|</p>
                                </div>
                                <p style="text-align: center">The Fantasy Premier League website may be updating or else there is no existing Manager corresponding to the ID you entered.</p>
                            </div>
                        {% endif %}
                        <div style="color: white">
                            <br>
                            <p>Enter a manager's ID number to view in-depth statistics relating to their team including:</p>
                            <ul>
                                <li>How many goals, assists, clean sheets, bonus points etc. have been scored each week</li>
                                <li>How many points have been obtained from each position</li>
                                <li>How much money is invested in each position</li>
                                <li>Which player has been captain most often</li>
                                <li>How many points have been lost due to inoptimal team selection</li>
                                <li>Which players have been in the team and how they have performed</li>
                            </ul>
                            <br><br>
                            <p>To find out a manager's ID, click on <b>'View Gameweek history'</b> and see the ID in the URL</p>
                            <img src="{% static 'images/sample_manager_id.png' %}" alt="sample_manager_ID" class="img-responsive">
                            <br>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12" style="background-color: #922a0e">
                        <br>
                        <h1 style="text-align: center; color: white"><b>League Stats</b></h1>
                        <br>
                        <form action="{% url 'league:search' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <!--<p style="text-align: center; color: lightgray"><u>Search disabled until the new season starts</u></p>-->
                                <div class="input-group league-search">
                                    <input class="form-control input-lg" name="league_id" placeholder="League ID" onfocus="placeholder=''" onblur="placeholder = 'League ID'"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-lg btn-success">
                                            <i class="glyphicon glyphicon-search"></i> Go
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        {% if league_error %}
                            <div id="league-err-msg" class="col-md-12" style="color: #491a0d; background-color: #fbc2b2; border: solid 2px red; border-radius: 10px">
                                <p></p>
                                <div class="col-md-4">
                                    <p><span class="glyphicon glyphicon-exclamation-sign pull-left" style="font-size: 150%"></span></p>
                                </div>
                                <div class="col-md-4">
                                    <p style="font-size: 150%; text-align: center">An Error Occurred</p>
                                </div>
                                <div class="col-md-4">
                                    <p><span class="glyphicon glyphicon-exclamation-sign pull-right" style="font-size: 150%"></span></p>
                                    <p style="color: #fbc2b2">|</p>
                                </div>
                                <p style="text-align: center">The Fantasy Premier League website may be updating or else there is no existing League corresponding to the ID you entered.</p>
                            </div>
                        {% endif %}
                        <div style="color: white">
                            <br>
                            <p>Enter a league's ID number to view stats relating to the top 50 players in the league including:</p>
                            <ul>
                                <li>Who has the most goals, assists, clean sheets, bonus points etc.</li>
                                <li>Who has the highest scoring defense, midfield etc.</li>
                                <li>Which formation each member prefers</li>
                                <li>Who gains the most points from their captains</li>
                                <li>Which player is each team's top performer</li>
                                <li>Who leaves the most points on the bench</li>
                            </ul>
                            <br><br>
                            <p>To find out a league's ID, click on the league and see the ID in the URL</p>
                            <img src="{% static 'images/sample_league_id.png' %}" alt="sample_league_ID" class="img-responsive">
                            <br>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" style="background-color: #373737">
                    <br>
                    <a class="twitter-timeline" data-theme="dark" data-chrome="transparent" data-tweet-limit="3" href="https://twitter.com/fplmystats?ref_src=twsrc%5Etfw">Tweets by fplmystats</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <br>
                </div>
                <div class="col-md-3"></div>
            </div>
            <br>
        </div>
    {% endblock %}
</body>
